@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}


<h1>Consulta de Usuario</h1>

<body>

    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UsuarioId</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Admin</td>
                    <td>adm123</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Adriel</td>
                    <td>13254</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Enel</td>
                    <td>en123</td>
                </tr>
            </tbody>
        </table>

   

    </div>
    <br>
    <div class="container">

        <button type="button" class="col-sm-2 btn btn-secondary">Imprimir</button>

    </div>

</body>
</html>

